<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Solution Architect working at NCS Ptd Ltd, Singapore. <br/><br/>
			I enjoy designing cutting edge and safe solutions, creating great products with great user experiences and working in a dynamic environment with a focus on good development practices, automation and continuous integration.
		</div>
		<br>
	</div>
</div>
